body {
    color: rgb(85, 85, 85);
    font-family: sans-serif;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 40px;
}

.giphy-search-results-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 100%;
}
